.normativosVigentes {
  background-color: "[theme:white, default:#ffffff]";
  color: "[theme:themePrimary, default:#0078d4]";
  padding: 0.5rem;
}

.fieldLabel {
  color: "[theme: neutralPrimary, default: #323130]";
  font-weight: 600;
  display: block;
  padding: 5px 0;
}

.fieldValue {
  font-size: 14px;
  color: "[theme: neutralSecondary, default: #605e5c]";
}